* {
    transition: all .2s;
}

/* upper strap */
.strap,
.stcon,
.stcontact {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.strap {
    margin: auto;
    justify-content: space-between;
    background-color: rgb(178, 0, 0);
    color: white;
    font-size: 14px;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    height: 1.5rem;
}

.btnstrap {
    background-color: rgb(240, 240, 240);
}

.stcon {
    margin: 0;
    padding: 0;
}

.st {
    border-right: 3px solid white;
    text-decoration: none;
    color: white;
    transform: translateY(5px);
}

.st:hover {
    color: rgb(225, 225, 225);
}

/* MMMUT name */
.MMM-name {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 8rem;
    /* overflow: hidden; */
}

.mmm-img {
    width: auto;
    height: 80%;
    transform: scale(.8);
    mix-blend-mode: multiply;
}

.line {
    margin: 0.2rem auto;
    width: 80%;
    background-color: rgb(81, 81, 81);
}

/* slider */
.carousel {
    aspect-ratio: 40/9;
    margin: 2rem auto;
    z-index: 0;
    width: 80%;
}

.slideimg {
    aspect-ratio: 40/9;
    width: 100%;
}

/* aboutMMM n message */
.mmm-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 85%;
    margin: auto;
    box-shadow: 1px 1px 5px rgb(152, 152, 152);
    border-radius: 5px;
}

.mmminf {
    width: 65%;
}

.mmm {
    height: 10rem;
    margin: 0 1rem 0 1rem;
}

.message {
    width: 30%;
}

.wel-con {
    display: flex;
}

/* message card */
.message-card {
    display: flex;
    padding: 5px;
    height: max-content;
    align-items: center;
    background-color: rgb(244, 244, 244);
    border: 1px solid grey;
    border-radius: 5px;
}

.Name {
    font-size: medium;
}

.post {
    color: darkred;
    font-size: smaller;
}

.Name,
.post {
    margin: 0;
}

.det {
    margin: auto;
    text-align: center;
}

.message-btn {
    border: 0;
    border-radius: 5px;
    background-color: rgb(176, 0, 0);
    color: white;
}

.message-btn:hover {
    font-weight: 600;
    transform: translateY(-2px);
    box-shadow: 1px 3px 5px rgb(167, 167, 167);
}

.person {
    aspect-ratio: 1/1;
    height: 4rem;
    border-radius: 100%;
}

/* news n happenings */
.happ-event {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    width: 85%;
    z-index: 1;
    overflow: hidden;
    margin: 2rem auto;
    padding: 2rem;
}
.eve-img{
    /* display: none; */
    margin-left: -2rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    position:absolute;
    filter: blur(5px);
}
.happens {
    margin: auto;
    width: 50%;
}

.news-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(148, 148, 148);
    background-color:rgb(0 0 0 / 47%);
}

.news,
.events {
    padding: 1rem;
    /* border-radius: 10px; */
    background-color: rgb(243, 243, 243);
    animation: fade-in .4s;
}
.events{
    display: none;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heading {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.view {
    text-decoration: none;
    color: rgb(176, 0, 0);
}

.view:hover {
    font-weight: 600;
}

.news-tl {
    font-weight: 600;
    border-left: 5px solid rgb(176, 0, 0);
    padding-left: 1rem;
    color: white;
    cursor: pointer;
}


/* student section */

/* footer */
.footer {
    width: 85%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(38, 38, 38);
    color: white;
}

.tle {
    font-weight: bolder;
    color: rgb(238, 16, 0);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(238, 16, 0);
}

.fa-brands {
    transform: scale(2);
    margin: 1rem;
}

.fa-brands:hover {
    color: white !important;
}

.bottom {
    width: 85%;
    margin: auto;
    padding: 1rem;
    background-color: rgb(38, 38, 38);
    color: rgb(201, 201, 201);
    text-align: center;
    font-size: smaller;
}

/* responsiveness */
/* PC */
@media only screen and (min-width: 1000px) and (max-width:1300px) {
    .MMM-name {
        height: 7rem;
    }

    .mmm-img {
        height: 60%;
        width: auto;
    }
    .mmm-img2{
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .mmm-info {
        display: block;
    }

    .message {
        display: flex;
        width: 100%;
        margin-top: 1rem;
    }

    .message-card {
        /* display: flex; */
        width: max-content;
    }

    .msg {
        display: none;
    }

    .mmminf {
        width: 100%;
    }

    .person {
        height: 3rem;
    }

    .Name {
        font-size: 12px;
    }

    .post {
        font-size: 10px;
    }

    .message-btn {
        font-size: smaller;
    }
}

/* tab */
@media only screen and (min-width: 760px) and (max-width:1000px) {
    .MMM-name {
        height: 6rem;
    }

    .mmm-img {
        height: 60%;
        width: auto;
    }
    .mmm-img2{
        transform: scale(1.1);
    }

    .message {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* mob */
@media only screen and (max-width: 800px) {
    .stcon {
        display: none;
    }

    .strap {
        justify-content: flex-end;
    }

    .wel-con {
        display: block;
    }

    .mmm-info {
        display: block;
        width: 100%;
    }

    .mmminf {
        margin: auto;
        width: 80%;
    }

    .welcome,
    .msg {
        text-align: center;
    }

    .msg {
        margin-top: 1rem;
    }

    .message {
        width: 60%;
        margin: auto;
    }

    .carousel {
        height: 10rem;
        width: 90%;
    }

    .slideimg {
        height: 10rem;
    }
    .happens{
        width: 100%;
    }
    .footer {
        display: block;
        font-size: x-small;
    }

    .footer,
    .bottom {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 760px) {
    .MMM-name {
        height: 5rem;
    }

    .mmm-img {
        height: 60%;
        width: auto;
    }
    .mmm-img2{
        transform: scale(1.02);
    }

}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .MMM-name {
        height: 4rem;
        width: 100vw;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    .mmm-img {
        height: 40%;
        width: auto;
        transform: scale(1.1);
    }

    .mmm-img2 {
        display: none; 
        /* transform: scale(1.2); */
    }

    .strap {
        /* width: 100%; */
        height: 1.4rem;
        padding: 0 !important;
    }

    .person {
        height: 3rem;
    }

    .mmm-info {
        /* border: 1px solid grey; */
        font-size: smaller;
        width: 90%;
    }

    .mmminf {
        width: 90%;
    }

    .message {
        width: 80%;
    }

    .mmm {
        height: 10rem;
        width: 100%;
        margin: 0;
    }
    .happ-event{
        width: 90%;
    }
    .happens {
        width: 100vw;
    }
    .heading, .news-tl{
        font-size: medium;
    }
}